@model SalesWebMvc.Models.Seller
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        </dt>
    </dl>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dt>
    <dt>
        @Html.DisplayNameFor(model => model.BirthDate)
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </dt>
    <dt>
        @Html.DisplayNameFor(model => model.BaseSalary)
        <dd>
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
    </dt>
    <dt>
        @Html.DisplayNameFor(model => model.Department)
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dt>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a>
    <a asp-action="Index">Back to List</a>
</div>